
.top {
    display: flex;
    padding: 10px 20px;
    gap: 20px;
    margin-left: 20px;
}
.searchBox {
    gap: 5px;
    align-items: center;

}
.main-content-Donhang {
    padding: 25px 40px;
}

.donhang-container {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.donhang-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;
}

.export-btn {
    background: #2f4026;
    color: #fff;
    padding: 8px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.donhang-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.searchBox {
    display: flex;
    align-items: center;
    background: #f3f4f6;
    padding: 8px 12px;
    border-radius: 8px;
}

.searchBox input {
    border: none;
    background: transparent;
    margin-left: 10px;
    outline: none;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
}

.order-table th,
.order-table td {
    padding: 14px;
    border-bottom: 1px solid #e5e7eb;
    text-align: left;
}

.order-table th {
    background: #f9fafb;
    font-weight: bold;
}

.order-table tr:hover {
    background: #f3f4f6;
    transition: 0.15s;
}

/* BADGES */
.badge {

    padding: 5px 10px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
}

.badge.success { background: #16a34a; }
.badge.blue { background: #3b82f6; }
.badge.orange { background: #f59e0b; color: #000; }
.badge.red { background: #dc2626; }
.badge.gray { background: #6b7280; }

/* PAGINATION */
.pagination {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination button {
    padding: 6px 14px;
    border: 1px solid #d1d5db;
    background: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.pagination .page.active {
    background: #3b82f6;
    color: #fff;
    border-color: transparent;
}

.actions {
    display: flex;
     margin-left: 10px;
    gap: 15px;
}
.actions button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #555;
    font-size: 16px;
    padding: 4px;
    transition: color 0.3s ease;
}
.actions button.edit:hover {
    color: #3b82f6; /* xanh dương khi hover */
}
.actions button.delete:hover {
    color: #dc2626; /* đỏ khi hover */
}

tr a{
    text-decoration: none;
    color: black;
}


